.header-container {
    display: flex;
    align-items: center;
    background-color: #b9d0d0;
    justify-content: space-between; /* コンテンツを左右に配置 */
    padding: 10px 25px;
    border-radius: 8px;
  }
  
  .icon-group {
    display: flex;
    gap: 40px; 
  }
  
  .icon {
    width: 80px;
    height: 80px;
    padding: 5px;
    background-color: #b8d0d0;
    border-radius: 35%;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  
  .input-group {
    display: flex;
    font-size: 150%;
    align-items: center;
    gap: 8px;
  }
  
  #period {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .report-button {
    display: flex;
    align-items: center;
    gap: 12px; 
    padding: 16px 32px; 
    background-color: #ffffff; 
    border: 2px solid #b8d0d0;
    border-radius: 8px; 
    font-size: 18px; 
    cursor: pointer; 
    transition: background-color 0.2s, transform 0.2s; 
  }
  
  .report-button:hover {
    background-color: #e6f7ff; 
    transform: scale(1.05); 
  }
  
  .button-icon {
    width: 30px; 
    height: 30px; 
  }
